.btn-green {
    background-color: #00686c;
}

.text-green {
    color: #00686c;
}

.bg-dark-green {
    background-color: #00686c;
}

.btn-outline-green {
    border-color: #00686c;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #1a8393 !important;
    border-color: #1a8393 !important;
}

.btn-dark, .btn-dark:hover, .btn-dark:active, .btn-dark:visited {
    background-color: #386369 !important;
    border-color: #386369 !important;
}


