.nav-item {
    &a, :hover, :active, :link, :visited {
        color: #fff;
    }
}

.header {
    min-height: 100px;
}

.background {
    background-color: #01353D;
}
.nav-item.active a {
    border-bottom: 1px solid white;
}

.dropdown-item.active a {
    border-bottom: 1px solid grey;
}