.display-center {
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 500px;
    height: 500px;
    padding: 15px;
    margin-left: 200px;
    margin: 0 auto;
    float: none;
}

.btn-green {
    background-color: #00686c;
}
